html, body {
	font-family: Helvetica Neue, Arial, sans-serif;
}

.container {
	margin: 0 auto;
	width: 750px;
}

.container h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: 100;
}

.container img {
	width: 100%;
}